.dark header {
    background-color: rgb(80, 78, 78);
}
.dark header * {
    color: white;
}

.dark #about {
    background-color: black;
}

.dark .cards {
    background-color: black;
}

.dark #about * {
    color: white;
}

.dark #features {
    background-color: black;
}

.dark #features * {
    color: white;
}

.dark #pricing {
    background-color: black;
}

.dark #pricing * {
    color: white;
}

.dark .pricing__row__footer button {
    background-color: orange;
}

.dark #testimonials {
    background: linear-gradient(black, rgb(32, 14, 14))
}

.dark #testimonials * {
    color: white;
}